@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:wght@400;500;700;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: gray-500scale;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  /* Barra de scroll*/
  width: 0.5em;
}

::-webkit-scrollbar-track {
  /* Process Bar*/
  background: var(--bg-black-500);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    /* Scroll Bar*/ 45deg,
    var(--bg-orange-200),
    var(--bg-orange-500)
  );
  border-radius: 40px;
}

:root {
  --bg-orange-200: #f2ba5f;
  --bg-orange-500: #f9ab30;
  --bg-blue-200: #537595;
  --bg-blue-500: #162e44;
  --bg-black-200: #323232;
  --bg-black-500: #33313b;
  --bg-gray-200: #bfbec0;
  --bg-gray-500: #999999;
  --bg-zinc: #f9fafb;
  --bg-white: #ffffff;

  --text-primary: "Montserrat", sans-serif;
  --text-secondary: "Calistoga", cursive;

  --screen-width: 320px;
  --screen-height: 560px;
  --header-bg-color: #673ab7;
  --splash-bg-color: #368887;
}

.back-top {
  width: 3rem;
  height: 3rem;

  position: fixed;
  z-index: 999;
  top: 90%;
  left: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;

  background-color: var(--bg-orange-500);

  animation: bounce 1s infinite;
  transition: all 0.4s ease;
}

.back-top.active {
  opacity: 1;
  visibility: visible;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.back-top i {
  color: var(--bg-white);
  font-size: 1.6rem;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 6rem;

  background-color: var(--bg-blue-500);
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 6rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--bg-white);
  font-weight: 700;
  font-size: 20px;
  font-family: var(--text-primary);
}

.logo {
  background-color: royalblue;
  width: 4rem;
  height: 4rem;
}

/*
.header {
  background-color: var(--bg-blue-500);
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  align-items: center;

  width: 100%;
  height: 5rem;


}
 


.logo img {
  width: 3.5rem;
  height: 3.5rem;
}

nav ul li.active {
  color: var(--bg-orange-200);
}

ul {
  display: flex;
  list-style: none;
  gap: 3.3rem;
}

a {
  text-decoration: none;
  color: var(--bg-white);
  font-weight: 700;
  font-size: 20px;
  font-family: var(--text-primary);
}
a:hover {
  color: var(--bg-orange-200);
} */

section {
  height: 100vh;
  background-color: var(--bg-white);

  position: relative;
}

section:first-child {
  background-image: url("https://i.ibb.co/ZmfDw5x/Backgorund.png%22");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

section:nth-child(2n) {
  background-color: var(--bg-zinc);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 6rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 0px 16rem;
  padding-top: 12rem;

  justify-content: center;
  align-items: center;

  font-size: 2.8rem;
  font-weight: 400;
  font-family: var(--text-secondary);

  letter-spacing: 6px;

  color: var(--bg-white);
  text-align: center;
}

.hero span,
.hero h2 {
  color: var(--bg-orange-500);
}

.mobile-navbar {
  display: none;
}

.mobile-navbar i {
  padding: 0.5rem;

  color: var(--bg-black-200);

  cursor: pointer;
}

/* second-viwer */

.content {
  width: 100%;
  height: auto;

  display: flex;

  align-items: center;

  gap: 2rem;
  padding: 0 4rem;
}

.wrap {
  max-width: 50rem;
  max-height: 32rem;
  width: 100%;
  height: auto;

  padding-top: 5.5rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card-info {
  max-width: 24rem;
  max-height: 24rem;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: start;

  padding: 0.5rem;

  font-family: var(--text-primary);
}

.card-info .header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.3rem;
  font-weight: normal;

  gap: 0.5rem;
}

.header-card h2,
.header-card p {
  font-weight: 500;
}

.header-card i {
  font-size: 2rem;
  color: var(--bg-orange-500);
}

.card-info p {
  width: 20rem;
  font-size: 1rem;
}

.card-text {
  max-width: 36rem;
  max-height: 20rem;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--text-primary);
}

.card-text h2 {
  font-weight: 900;
  font-size: 1.8rem;

  color: var(--bg-black-200);
}

.card-text span {
  color: var(--bg-orange-500);
  font-family: var(--text-secondary);
  font-size: 1.6rem;
}

.card-text p {
  font-size: 1.2rem;
  font-weight: 500;

  color: var(--bg-gray-500);
}

.container-card {
  width: 100%;
  height: auto;

  padding: 0rem 1rem;
}

.outer-card,
.inner-card {
  max-width: 30rem;
  max-height: 34rem;
}

.outer-card {
  width: 100%;
  height: 32rem;

  background-color: rgba(242, 186, 95, 0.47);
  position: relative;
}

.inner-card {
  background-image: url("https://i.ibb.co/3cvHSPg/image-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  z-index: 9999;

  width: 100%;
  height: 32rem;

  left: 3rem;
  top: 3rem;
}

.text-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--text-primary);
}

.text-content h2 {
  font-weight: 900;
  font-size: 40px;
  color: var(--bg-black-500);
}
.text-content p {
  font-weight: 500;
  font-size: 25px;
  color: var(--bg-gray-500);
}

.text-content span {
  font-family: var(--text-secondary);
  font-size: 30px;
  color: var(--bg-orange-500);
}

.text-content h2 span {
  font-size: 56px;
}
.logo-mobile {
  display: none;
}

footer {
  width: 100%;
  height: 20rem;

  background-color: var(--bg-blue-500);
}

/* Medium Screen */

@media (max-width: 1024px) {
  .hero {
    padding: 16rem 3rem;
  }

  .back-top {
    left: 92%;
  }

  .content {
    padding: 0rem 1.5rem;
  }

  .card-info h2 {
    font-size: 1.2rem;
  }
  .card-info p {
    width: auto;
    font-size: 1rem;
  }
  .card-info i {
    font-size: 1.2rem;
  }

  .card-text p {
    font-size: 1rem;
  }

  .text-content h2 {
    font-size: 35px;
  }
  .text-content p {
    font-size: 20px;
  }

  .inner-card {
    top: 1rem;
    left: 2rem;
  }

  .outer-card,
  .inner-card {
    max-width: 24rem;
    max-height: 28rem;
  }
}

/* Mobile Viewer */

@media (max-width: 600px) {
  .back-top {
    left: 80%;
  }

  .hero {
    gap: 1rem;
    padding: 26rem 0 0 0;
    font-size: 1.2rem;
  }

  .nav-links {
    display: none;
  }

  .mobile-navbar {
    cursor: pointer;
    display: block;
    font-size: 42px;
  }

  .navbar {
    padding: 1.5rem 1rem;
  }

  .nav-links {
    top: 0;

    left: 100%;
    /* visibility: hidden; */

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    transition: all 0.5s ease;

    background-color: var(--bg-white);

    width: 100%;
    height: 100vh;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links a {
    color: var(--bg-black-200);
    font-size: 2rem;
  }

  .content,
  .container {
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 6rem;
    justify-content: space-between;
    align-items: center;
  }

  .wrap {
    padding-top: 0;
  }

  .card-info h2 {
    font-size: 1rem;
}
  .wrap p {
    font-size: 0.6rem;
  }

  .card-text h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .card-text p {
    font-size: 0.6rem;
  }

  .card-text span {
    font-size: .8rem;
  }

  .outer-card, .inner-card {
    max-width: 16rem;
    max-height: 18rem;
}

.inner-card {
  top: .7rem;
  left: .6rem;
}


.text-content h2 {
  font-size: 20px;
}
.text-content h2 span {
  font-size: 24px;
}
.text-content p span {
  font-size: 16px;
}


.text-content p {
  font-size: 12px;
}

.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  display: flex;

  align-items: center; 
  justify-content: center;
}

}























.mobile-menu {
  left: 0;
  overflow-x: hidden;
}

svg {
  height: 80px;
  position: absolute;
  width: 80px;
}

.plate {
  height: 80px;
  width: 80px;
}
.burger {
  filter: url(#gooeyness);
}
.x {
  transform: scale(0);
  transition: transform 400ms;
}
.line {
  fill: none;
  stroke: var(--bg-orange-500);
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.x .line {
  stroke-width: 5.5px;
}

/* Die vierte teller */
.plate4 .x {
  transition: transform 400ms;
}
.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.active.plate4 .line {
  transition: transform 400ms;
}
.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
